html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
#root,
body {
  min-height: 100vh;
}
body {
  margin: 0;
}
#root,
.todo-list-app {
  display: flex;
  flex-flow: column nowrap;
}
#root {
  align-items: center;
  width: 100%;
}

